# Virtual Environment
venv/


node_modules/
# Python Cache
__pycache__/
*.py[cod]
*.pyo

# Django Database
db.sqlite3

# Media Files
media/

# VS Code
.vscode/

# Environment Variables
.env

known_faces/
unknown_faces/