<div class="bg-slate-900 rounded-2xl border border-slate-800 p-6">

    <h2 class="text-2xl font-semibold mb-6">
        Recent Activity
    </h2>

    <div class="space-y-4">

        <div class="flex justify-between">
            <span>✅ Rahul Recognized</span>
            <span class="text-slate-400">10:15</span>
        </div>

        <div class="flex justify-between">
            <span>⚠ Unknown Person</span>
            <span class="text-slate-400">10:18</span>
        </div>

        <div class="flex justify-between">
            <span>📹 Camera Connected</span>
            <span class="text-slate-400">10:20</span>
        </div>

        <div class="flex justify-between">
            <span>👤 Aman Recognized</span>
            <span class="text-slate-400">10:22</span>
        </div>

    </div>

</div>