<aside class="w-72 bg-slate-900 border-r border-slate-800">

    <div class="p-6">

        <h1 class="text-3xl font-bold text-cyan-400">
            AI Surveillance
        </h1>

    </div>

    <nav class="px-4">

        <a href="#" class="block px-4 py-3 rounded-lg hover:bg-slate-800 mb-2">
            🏠 Dashboard
        </a>

        <a href="#" class="block px-4 py-3 rounded-lg hover:bg-slate-800 mb-2">
            👤 Known Faces
        </a>

        <a href="#" class="block px-4 py-3 rounded-lg hover:bg-slate-800 mb-2">
            ❓ Unknown Faces
        </a>

        <a href="#" class="block px-4 py-3 rounded-lg hover:bg-slate-800 mb-2">
            📹 Live Recognition
        </a>

        <a href="#" class="block px-4 py-3 rounded-lg hover:bg-slate-800 mb-2">
            📜 Logs
        </a>

        <a href="#" class="block px-4 py-3 rounded-lg hover:bg-slate-800 mb-2">
            ⚙ Settings
        </a>

    </nav>

</aside>